:root {
    --MarromIdeal:	#A6702E;
    --MarromClaro:	#F2AF5C;
    --MarromClaro2: #d18c38;
    --MarromEscuro:	#593810;
    --Branco:	#F8F8FB;

    --CinzaClaro: #c7c7c7;

    --BackgroundPrimary: #644219;
    --BackgroundSecond: #bb7f36;

    --CorTexto: #e9e1d7;
}

@media (min-width: 576px) {
    .text-sm-light {
        color: white !important;
    }
}

body{
    color: var(--CorTexto);
    background: #f5eceb;
}

.menu-lateral img {
    border-radius: 50%;
}

.bg-half::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    height: 22em;
    width: 100vw;
    border-radius: 0 0 5% 5%;
    background: linear-gradient(60deg, var(--BackgroundPrimary) 16.62%, var(--BackgroundSecond) 85.61%) no-repeat;
}

.bg-half.bg-bigger::before {
    height: 30em;
}

a{
    text-decoration: none;
    color: black;
}

.btn-primary {
    background-color: var(--MarromIdeal);
    border-color: var(--MarromIdeal);
}

#logoSystem {
    font-size: medium;
    font-weight: 600;
    border: solid 2px var(--MarromEscuro);
    border-radius: 2%;
    padding: 0.35em 1.25em;
}

hr{
    margin: 0;
}

#userPicName {
    background-color: rgb(0, 0, 0,.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#userPicName img {
    width: 2.5em;
    height: 2.5em;
    padding: 0 0;
    margin: 0;
}

#userPicName #userName {
    width: 100px;
}

hr {
    border: solid 1.5px var(--CorTexto); 
}

#moneyDiv{
    background-color: var(--CinzaClaro);
}

#moneyDiv i {
    margin-right: 0.5em;
}

.border-2 {
    border: solid 2px;
}

.income {
    background-color: #8ade91;
}

.outcome {
    background-color: #de948a;
}